<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>DOCUMENTO</title>
    </head>
    <body>
        <h3>Confere CEP</h3>
        <form class="" #cepfom="ngForm"(ngSubmit)="pesquisar()">
            <div>
                <label for="cep" class="">
                    Informe CEP
                </label>
                <input name="cep" type="text"[(ngModel)]="cep">
            </div>
            <div class="btn btn-primary btn-sm btn-icon-split">
                <span class="icon text-white-80"></span>
                

            </div>
        </form>

    </body>

</html>